* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url('../src/media/background.jpg');
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(214, 214, 214, .68);
}

.form-table {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: 100px auto auto;
  background-color: rgba(0, 0, 0, .91);
  border: 2px solid #fff;
  box-shadow: 0 0 1px #000;
  border-radius: 8px;
}

.form-table p {
  font-weight: bold;
  font-size: 16px;
  width: fit-content;
  color: rgb(210, 210, 210);
  margin: 10px auto;
  padding: 10px;
}

form {
  display: grid;
  grid-auto-rows: auto;
  align-items: center;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
}

.form-group {
  position: relative;
  width: 100%;
}

.form-group * {
  display: block;
  margin: 0 auto 1em;
  text-align: center;
}

input {
  width: 90%;
  padding: 5px;
  padding-top: 20px;
  border-radius: 8px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(214, 214, 214, .68);
}

input:valid {
  outline-offset: 2px;
  outline: 2px solid green;
}

input:invalid {
  outline-offset: 2px;
  outline: 2px solid red;
}

label {
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  color: #000;
  font-size: .8em;
  cursor: text;
  transition: .4s;
}

input:focus + label {
  color: red;

  transition: .4s;
} 

input:placeholder-shown + label {
  top: -20%;

}

.form-group-btn {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: red;
}

.close-btn {
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  position: absolute;
  display: block;
  content: '';
  top: 11px;
  width: 25px;
  height: 3px;
  background-color: #fff;
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(135deg);
}